@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    220 S 5th Street<br />
    Cornell, WI 54732<br />
    <abbr title="Phone">P:</abbr>
    715.644.8683
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@badgergeeks.com">support@badgergeeks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:AmyKrizan@badgergeeks.com">AmyKrizan@badgergeeks.com</a>
</address>