@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AmyCN1 MVC Demo Web App</h1>
    <p class="lead">I have used C#, ASP.net, MVC, SQL, HTML, CSS, JavaScript for building this Demo Web sites and Web applications.
    <p>This Application is connected the local SQL server MVCDemoDB,</p>
    <p>You can Add, delete and view records on the data table.</p>

    <p><a href="https://www.badgergeeks.com" class="btn btn-primary btn-lg">Badger Geeks &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Amy</h2>
        <p>
            I am a Jr. C# .NET Full Stack Developer with 2-3yrs of Freelance Experiences.
        </p>
        <p>
            Currently looking for businesses that offer onsite/remote job training opportunities to grow together.
            Especially offering Azure/AWS Certificate Training Program.
        </p>
        <p>

            I am a US Citizen, extra document support does not need.
            I also have registered as a single-member LLC with EIN#
        </p>
        <p>
            Freelance, 1099, W2 Contract, Contract to Hire, Fulltime, flexible.
            Remote mainly, can travel to the client's Jobsite as needed.
        </p>

        </p>
        <p><a class="btn btn-default" href="https://badgergeeks.com">More Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Protfolio Links</h2>
        <p>My Profolio Links</p>
        <p><a class="btn btn-default" href="https://linkedin.com/in/AmyKrizanWang">Linkedin Link &raquo;</a></p>
        <p><a class="btn btn-default" href="https://github.com/AmyKrizanWang">Github Link &raquo;</a></p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/users/amykrizan">Microsoft Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recent Website Projects:</h2>
        <p>My most recent website projects, i have created based on Wordpress, Hosting with Hostgator, Cpanel, phpMyAdmin, JavaScript</p>
        <p>Photo editing used Gimp, FastStone, Envato Elements, Elementor</p>
        <p></p>
        <p><a class="btn btn-default" href="http://badgergeeks.com">Badger Geeks &raquo;</a></p>
        <p><a class="btn btn-default" href="http://baughmanservices.com">Baughman Trucking and Excavating &raquo;</a></p>
        <p><a class="btn btn-default" href="http://cityofcornell.com">City of Cornell &raquo;</a></p>
        <p><a class="btn btn-default" href="http://crescentlandscapesupply.com/">Crescent Landscape Supply &raquo;</a></p>
        <p><a class="btn btn-default" href="http://badger-den.com/">Badger Den Guesthouse &raquo;</a></p>
    </div>
</div>